/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  max-width: 1440px;
  height: 100%;
  line-height: 1;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #636060;
  scroll-behavior: smooth;
}
._container {
  max-width: 1222px;
  
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}
/*-----------HEADER--------*/
.header {
  overflow: hidden;
  width: 100%;
  height: 134px;
  z-index: 10;
  background: #EDF2EC;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 42px 0px;
  height: 50px;
 
}

.menu__list {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-menu:not(:last-child) {
  margin-right: 46px;
}
.item-menu__link {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(50 / 16 * 100%);
  
  color: #010201;
  transition: all 0.3s;
}
 
.item-menu__link:hover{
  color: #e06733;
}
@media (max-width: 768px) {
  ._container {
    max-width: 668px;
    margin: 0 auto;
  }
  .header{
    height: 117px;;
  }
  .header__body {
    
    margin: 35px 0px;
  }
  .header__logo {
    align-self: center;
  }
}
@media (max-width: 380px) {
  .header {
    height: 96px;
  }
  ._container {
    max-width: 330px;
    margin: 0 auto;
  }
  .header__body {
    height: 24px;
    margin: 36px 0px;
  }
  
    
/*------------------------BURGER-----------------------------*/
  .menu__icon {
    display: block;

    position: relative;
    top: 0px;
    right: 0px;
    z-index: 5;
    width: 40px;
    height: 24px;
    border-top: 2px solid #717171;
  }
  .menu__icon span {
    display: block;
    border-bottom: 2px solid #717171;
    width: 100%;
    height: 8px;
  }

  .menu__list {
    position: fixed;
    top: 0px;
    right: -250px;
    width: 250px;
    height: 380px;
    padding: 30px;
    transition: all 2s ease 0s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    background-color: #bcc5b7;
    z-index: 6;
  }
  .menu__list li a {
    font-size: 25px;
    font-weight: 700;
    line-height: 200%;
    color: #3b7418;
  }
  .menu__list:hover {
    color: #499a18;
  }
  .menu__close::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #3b7418;
  }
  .menu__close::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2px;
    height: 20px;
    transform: rotate(45deg);
    translate: -9px -9px;
    background-color: #3b7418;
  }
  .active {
    right: 0px;
  }
  .close {
    display: block;
  }
}
/*---------------HEADER END-----------*/
/*--------------WELCOME----------------*/

.main__welcome {
  position: relative;
  padding: 62px 0px 58px 0px;
  background: #edf2ec;
}

.welcome__container {
  display: flex;
  align-items: center;
  min-height: 407.36px;
}

.welcome__image img {
  object-fit: contain;
  max-width: 448.8px;
  height: auto;
  background: transparent;
}
.welcome__body {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 224.2px;
  min-height: 340px;
  
}

.title-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: calc(50 / 45 * 100%);
  /* or 111% */
  margin-bottom: 39px;
  color: #717171;
}
.title-header > span {
  color: #499a18;
}
.body-text {

  margin-bottom: 46px;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 175%;
}
.button:hover{
  background: #E06733;
  color: #FFFFFF;
}
.button {
  
  text-align: center;
  width: 158px;
  height: 44px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
  /* or 125% */

  color: #000000;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: all 0.3s;
}
.button a {
  color: #000000;
}
@media (max-width: 768px) {
  .welcome__container{
    flex-direction: row-reverse;
    min-height: 310px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main__welcome {
    padding: 40px 0px 70px 0px;
    
  }
  .welcome__image img {
    width: 280px;
    height: 254px;
    
  }

  .welcome__body {
    flex: 1 1 50%;
    margin-left: 0px;
    min-height: 310px;
    max-width: 346px;
    justify-content: flex-start;
  }
  .title-header {
    font-weight: 700;
    font-size: 35px;
    line-height: calc(50 / 35 * 100%);
    /* or 111% */
    margin-bottom: 30px;
  }
  .welcome__body p{
    margin-bottom: 35px;
    font-size: 16px;
    line-height: calc(25 / 16 * 100%);
  }
}
@media (max-width: 380px) {
  .main__welcome {
    padding: 24px 0px;
    height: 300px;
  }
  .welcome__container{
    min-height: 252px;
  }
  .welcome__body{
    min-height: 252px;
    
  }
  .title-header {
    font-weight: 700;
    font-size: 25px;
    line-height: calc(35 / 25 * 100%);
    /* or 111% */
    margin-bottom: 20.36px;
  }
  .body-text {
    margin-bottom: 20.08px;
  }
  .welcome__image img {
    display: none;
    
  }
  .button {
    width: 100px;
    height: 34.14px;
    font-size: 10px;
    line-height: calc(20 / 10 * 100%);
    /* or 125% */

    color: #000000;
    border: 2px solid #e06733;
    border-radius: 10px;
    text-align: center;

    }
  
}
/*-----------WELCOME END----------*/
/*------------ABOUT---------------*/

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__body {
  flex: 0 1 50%;
  margin: 93px 0px 104px 0px;
}

.title-body {
  width: 463px;
  padding-top: 68px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: #499a18;
  margin-bottom: 40px;
}
.title-body span {
  color: #e06733;
}

.body-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #636060;
}

.about__image img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
@media (max-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__body {
    flex: 0 1 auto;
    margin: 40px 0px;
    height: 350px;
  }
  .title-body {
    max-width: 423px;
    font-weight: 400px;
    padding-top: 0px;
    font-size: 35px;
    line-height: calc(46 / 35 * 100%);
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    
  }
  .about__body p{
    min-height: 208px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 150% */

    color: #636060;
  }
  .about__image {
    flex: 0 1 auto;
    max-width: 250px;
    height: auto;
    margin-bottom: 95px;
  }
}
@media (max-width: 380px) {
  
  .about__body{
    height: 307px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .title-body {
    max-width: 288px;
    font-size: 25px;
    line-height: calc(33 / 25 * 100%);
    text-align: center;
    margin-bottom: 15px;
  }
  .about__body p{
   
    font-size: 15px;
    line-height: 25px;
  }
  .body-about__text {
    margin-bottom: 0px;
  }
  .about__image {
    align-self: center;
    margin-bottom: 25px;
  }
  .about__image img {
    max-width: 150px;

    min-height: 147px;
  }
}

/*--------------ABOUT END--------------------*/
/*-------------SERVISE------------------------*/
.main__servise {
  background: #edf2ec;
  padding: 40px 0px 121px 0px;
  
}

.servise__header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  
}
.servise__title {
  margin-right: 142px;
  min-height: 94px;
  max-width: 306px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  

  color: #499a18;
}
.servise__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.buttons-servise__btn2 {
  border: 1px solid #e06733;
  border-radius: 5px;

  margin-right: 38px;
  width: 161px;
  height: 50px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(26 / 20 * 100%);
  /* identical to box height */

  color: #e06733;
  cursor: pointer;
  transition: all 0.3s;
}

.buttons-servise__btn2:focus {
  background: #e06733;
  color: #ffffff;
}
.buttons-servise__btn2:hover{
  background: #e06733;
  color: #ffffff;
}
.servise__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 116px;
  row-gap: 55px;
}
#imgSer1 {
  background-image: url(./assets/img/servises/serv1.jpg);
  background-repeat: no-repeat;

  background-origin: border-box;
  border-radius: 20px 20px 0px 0px;
}
#imgSer2 {
  background-image: url(./assets/img/servises/serv2.jpg);
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  background-origin: border-box;
}
#imgSer3 {
  background-image: url(./assets/img/servises/serv3.jpg);
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  background-origin: border-box;
}
#imgSer4 {
  background-image: url(./assets/img/servises/serv4.jpg);
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  background-origin: border-box;
}
#imgSer5 {
  background-image: url(./assets/img/servises/serv5.jpg);
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  background-origin: border-box;
}
#imgSer6 {
  background-image: url(./assets/img/servises/serv6.jpg);
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  background-origin: border-box;
}
.filter {
  filter: blur(2px);
}
.servise__cards img {
  margin-bottom: 10px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: auto;
}
.card {
  max-width: 330px;
  max-height: 450px;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  padding-top: 10px;
  padding-bottom: 36px;
}

.content-card__title {
  margin-bottom: 12px;
  font-weight: 700;

  line-height: calc(20 / 20 * 100%);
  /* or 100% */

  color: #e06733;
}
.content-card__text {
  align-self: center;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
  color: #717171;
}
@media (max-width: 768px) {
  .main__servise {
    padding: 60px 0px 70px 0px;
  }
  .servise__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .servise__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
  }
  .servise__buttons{
    margin-top: 0px;
  }
  .servise__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 106px;
    row-gap: 38px;
  }
  .card__content {
    padding: 10px 39px 20px 38px;
    text-align: center;
  }

  #imgSer1 {
    background: url(./assets/img/servises_tab/ser1.jpg);
    background-repeat: no-repeat;

    background-origin: border-box;
  }
  #imgSer2 {
    background: url(./assets/img/servises_tab/ser2.jpg);
    background-repeat: no-repeat;

    background-origin: border-box;
  }
  #imgSer3 {
    background: url(./assets/img/servises_tab/ser3t.jpg);
    background-repeat: no-repeat;

    background-origin: border-box;
  }
  #imgSer4 {
    background: url(./assets/img/servises_tab/ser4.jpg);
    background-repeat: no-repeat;

    background-origin: border-box;
  }
  #imgSer5 {
    background: url(./assets/img/servises_tab/ser5.jpg);
    background-repeat: no-repeat;

    background-origin: border-box;
  }
  #imgSer6 {
    background: url(./assets/img/servises_tab/ser6t.jpg);
    background-repeat: no-repeat;

    background-origin: border-box;
  }
  .content-card__title {
    margin-bottom: 10px;
  
  }
}
@media (max-width: 380px) {
  .main__servise {
    padding: 30px 0px 30px 0px;
  }
  .servise__header {
    align-items: flex-start;
    flex-wrap: wrap;
    
    margin-bottom: 33px;
  }
  .servise__title {
    min-height: 69px;
    max-width: 187px;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 35px;
  }
  .servise__body {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 35px;
    justify-items: center;
  }
  .card {
    max-width: 279px;
  }
  .card__content {
    flex-wrap: wrap;
    padding: 10px 28.9px 16px 37.86px;
  }
  .servise__buttons {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .buttons-servise__btn2 {
    border: 1px solid #e06733;
    border-radius: 5px;
    margin-bottom: 9px;
    margin-right: 10px;
    width: 121px;
    height: 35px;

    font-size: 15px;
    line-height: calc(20 / 15 * 100%);
  }
}
/*------------END--SERVISE---------*/
/*--------------PRICES--------------*/
.main__prices {
  padding: 40px 0px 115px 0px;
}
.prices__container {
  display: flex;

  justify-content: space-between;
}

.prices__prices {
  flex: 0 1 50%;
}
.prices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */

  color: #000000;
  margin-bottom: 60px;
}

.prices__body {
  
  display: flex;
  flex-direction: column;
  padding: 33px 41px;
  max-width: 332px;
  height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  margin-bottom: 14px;
}
.prices__item {
  background: #edf2ec;
  border-radius: 20px;
  padding: 16px 40px 12px 40px;
  width: 250px;
  height: 50px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.prices__item:not(:last-child) {
  margin-bottom: 32px;
}
.prices__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  padding-bottom: 12px;
}
.prices__link {
  font-weight: 700;

  line-height: 100%;
  /* or 100% */

  color: #000000;
}

.prices__text {
  font-weight: 300;
  font-size: 10px;
  line-height: calc(10 / 10 * 100%);
  /* or 100% */

  color: #717171;
}
.prices__price {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #000000;
}
.prices__price span {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #e06733;
}
.prices__button {
  background: #ffffff;
  border-radius: 10px;
  padding: 3px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #717171;
  transition: all 0.3s;
}

.prices__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 452px;
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */

  text-align: right;

  color: #000000;

  margin-bottom: 38px;
}
.contacts__title span {
  color: #499a18;
}
.contacts__button {
  width: 162px;
  height: 50px;
  cursor: pointer;
  
  background: #ffffff;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(26 / 20 * 100%);
  /* identical to box height */

  text-align: center;
  color: #e06733;
  transition: all 0.3s;
}
.contacts__button:hover{
  background: #E06733;
  color: #FFFFFF;
}
.btn3 {
  margin-bottom: 39px;
}

.contacts__img > img {
  object-fit: contain;
  max-width: 152px;
  height: 178px;
}
@media (max-width: 768px) {
  .main__prices {
    padding-bottom: 84px;
  }
      
  .prices__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 53px;
    max-width: 135px;
    text-align: center;
  }
  .prices__body {
    margin-bottom: 0px;
    padding: 34px 41px;
  }
  .contacts__title {
    font-size: 25px;
    line-height: calc(35 / 25 * 100%);
    color: #000000;
    margin-bottom: 31px;
    
  }
  .prices__contacts {
    margin-top: 99px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 452px;
  }
  .contacts__img {
    max-width: 152px;
    height: auto;
   
  }
  .btn3 {
    margin-bottom: 34px;
  }
}
@media (max-width: 570px) {
}
@media (max-width: 380px) {
  .main__prices {
    padding-top: 25px;
  }
  .prices__container {
    flex-direction: column;
    align-items: center;
  }
  .prices__prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .prices__contacts {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;
  }
  .prices__title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */

    color: #000000;
    margin-bottom: 40px;
    
      }
  .prices__body {
    
    padding: 29px 22px;
    max-width: 224px;
    height: 235px;
  }
  .prices__item {
    padding: 16px 38px 16px 30px;
    width: 180px;
    height: 49.72px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    transition: all 0.5s ease-out;
  }
  .prices__item:not(:last-child) {
    margin-bottom: 13px;
  }
  
  .contacts__title {
    font-size: 20px;
    line-height: calc(35 / 20 * 100%);
    color: #000000;
    margin-bottom: 14px;
    text-align: center;
  }
  .btn3 {
    margin-bottom: 42px;
  }
  .contacts__img {
    display: none;
  }
  .contacts__button {
    padding: 8px 22px;
  }
  .contacts__link {
    font-size: 15px;
    line-height: calc(20 / 15 * 100%);
    /* identical to box height */
  }
}
/*----------------END----PRICES-------------*/
/*-------------------CONTACTS----------------*/
.main__contact {
  background: #edf2ec;
  padding-top: 59px;
  padding-bottom: 0px;
  overflow: hidden;
  width: 100%;
}

.contact__content {
  display: flex;

  justify-content: space-between;
}
.contact__img {
  max-width: 400px;
  object-fit: contain;
  height: auto;
  margin-top: -58px;
}
.contact__title {
  text-align: center;

  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(52 / 40 * 100%);

  color: #499a18;
}

.contact__form {
  position: relative;
  max-width: 450px;
  height: 100%;

  flex: 0 1 50%;
  margin-left: 64px;
  margin-top: 37px;

  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}
.contact__body {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  cursor: pointer;
}
.contact__body:focus {
  background-color: #c1e698;
}
.contact__body:hover {
  background-color: #c1e698;
}
.contact-title {
  margin-left: 20px;
}
.contact__btn {
  margin-right: 33.5px;
}
.contact__city {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 0px;
  padding: 27px 35px 31px 35px;
  background: #dce9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  height: 234px;
  width: 100%;

  padding-left: 20px;
}
.contact__city:focus {
  background: #c1e698;
}

@media (max-width: 768px) {
  .main__contact {
    padding-top: 40px;
  }
  .contact__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__img {
    max-width: 200px;
    object-fit: contain;
    height: auto;
    order: 2;
    margin-top: 0px;
  }
  .contact__title {
    margin-bottom: 100px;
  }
  .contact__form {
    flex: 0 1 auto;
    margin-left: 0px;
    margin-top: 0px;
    width: 450px;
    margin-bottom: 250px;
  }
  .city__item {
    margin-top: 61px;
    width: 100%;
    height: 214px;
    padding: 17px 76px 32px 33px;
  }
}
@media (max-width: 380px) {
  .main__contact {
    height: 445px;
    padding-top: 25px;
  }
  .contact__title {
    font-size: 25px;
    line-height: calc(33 / 25 * 100%);
    margin-bottom: 84px;
  }
  .contact__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__form {
    flex: 0 1 auto;
    margin-left: 0px;
    margin-top: 0px;
    width: 300px;
    align-self: center;
    margin-bottom: 128px;
  }

  .contact__img {
    max-width: 100px;
    object-fit: contain;
    height: auto;
    order: 2;
    margin-top: 0px;
  }
  .city__item {
    margin-top: 49px;
    width: 100%;
    height: 212px;
    padding: 23px 36px;
  }
  .city__contact {
    margin-bottom: 17px;
    height: 123px;
  }
   
  

  .city__phone {
    margin-bottom: 0px;
  }
  .phone__city {
    margin-bottom: 0px;
  }
  .city__adress {
    line-height: 20px;
  }
  .adress__city {
    line-height: 20px;
  }
  .col-one {
    flex: 0 1 auto;
  }
  .col-two {
    flex: 1 1 100%;

    width: 145.31px;
    height: 100%;
    margin-left: 0px;
  }
   
  .button__phone {
    margin: 0 auto;
  }
}
/*-------------------CONTACT END--------------------*/
/*--------------------------FOOTER-------------------*/
.footer {
  padding: 40px 0px;
  height: 130px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__data {
  display: flex;
  margin-right: 20px; 
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  /* identical to box height, or 250% */
  
  
  color: #000000;
}
.footer__data > *:not(:last-child) {
  margin-right: 20px;
}
.git-link {
  font-weight: 400;
font-size: 20px;
line-height: calc(50px/20px*100%);

color: #000000;
transition: all 0.3s;
}
.git-link:hover{
  color:#E06733;
  text-decoration: underline;
}
.link-rs{
  font-weight: 400;
font-size: 20px;
line-height: 50px;
/* identical to box height, or 250% */
color: #000000;
transition: all 0.3s;
}
.link-rs:hover{
  color:#E06733;
  text-decoration: underline;
}
.footer__social {
  display: flex;
  align-items: center;
 justify-content: space-between;
 
}
.social__item{
  transition: all 1s;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__item:hover{
  
  transform: scale(1.5) rotateY(180deg);
  
}
@media (max-width: 768px) {
  .footer {
    padding: 33px 279px 18px;
    height: 181px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__data {
    line-height: 24px;
}
.footer__rs{
  margin-bottom: 16px;
}
}
@media (max-width: 380px) {
  .footer {
    padding-top: 23px;
    padding-bottom: 6px;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
  }
  .footer__data {
    margin-bottom: 16px;
  }
  .footer__dev {
    margin-bottom: 3px;
  }
  .footer__social {
    height: 50px;
    justify-content: center;
    padding: 9px 0px;
  }
  .footer__social img :not(:last-child) {
    margin-right: 20px;
  }
}
